@import '../variables.css';

main {
  padding: 20px 30px;

  width: 100%;
  height: 100%;

  overflow-y: auto;
  max-height: calc(100% - var(--header-height));
  scrollbar-color: var(--header-color) var(--main-color);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  grid-auto-flow: dense;
}
main::-webkit-scrollbar-thumb {
  background-color: var(--header-color) var(--main-color);
}
